@model BugTracker.ViewModel.CreateBugViewModel
@{
    ViewData["Title"] = "Issues";
}
            <div class="container">
                <div class="row mt-3">
                    <div class="col-md-12">
                        <h1>Issues</h1>
                    </div>
                </div>
                <div class="row mt-3">
                       <form aps-action="Create">
                          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                          <div class="form-group">
                            <label asp-for="BugTitle">Title*</label>
                            <input asp-for="BugTitle" class="form-control"/>
                            <span asp-validation-for="BugTitle" class="text-danger"></span>
                          </div>

                          <div class="form-group">
                            <label asp-for="BugDescription">Description</label>
                            <textarea asp-for="BugDescription" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="BugDescription" class="text-danger"></span>
                          </div>
               
                          <div class="form-group">
                            <label for="exampleFormControlSelect1">Priority*</label>
                            <select class="form-control">
                              <option>trivial</option>
                              <option>minor</option>
                              <option>low</option>
                              <option>medium</option>
                              <option>high</option>
                              <option>critical</option>
                              <option>blocked</option>
                            </select>
                            </div>

                            <div class="form-group">
                            <label asp-for="BugCreatedBy">Created by</label>
                            <input asp-for="BugCreatedBy" class="form-control"/>
                            <span asp-validation-for="BugCreatedBy" class="text-danger"></span>
                          </div>
                          <div class="form-group">
                            <label asp-for="BugCreatedOn">Created on</label>
                            <input asp-for="BugCreatedOn" class="form-control"/>
                            <span asp-validation-for="BugCreatedOn" class="text-danger"></span>
                     
                          </div>
                          <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Create Issue"/>
                            <a asp-action="Index" class="btn btn-light">Cancel</a>
                         </div>
                        </form>
                    </div>
                </div>
             <div>
           <div>
       </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}