@model BugTracker.ViewModel.OverzichtGebruikersViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>Gebruikers</h2>

<table>
    <thead>
        <tr> 
            <th class="col-md-2">
                @Html.DisplayNameFor(v => v.Users[0].Email)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(v => v.Users[0].Password)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in Model.Users)
        {
            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => application.Email)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => application.Password)
                </td>
                <td class="col-md-2">
                </td>
            </tr>
        }
    </tbody>
</table>


