a.nav-link {
    margin-right: 4em;
}

.btn-outline-primary {
    background-color: #fff;
    color: #4E55C7;
    border: 3px solid #4E55C7;
    transition: ease-in-out 0.5s;
    border-radius: 10px;
    margin-top: 5px;
    font-weight: 600;
    width: auto;
    font-size: 1em;
}

    .btn-outline-primary:hover {
        background-color: #4E55C7;
        border: 3px solid #fff;
        color: #fff;
        transition: ease-in-out 0.5s;
    }

.btn-primary {
    background-color: #4E55C7;
    color: #fff;
    border: 3px solid #ffffff;
    transition: ease-in-out 0.5s;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 600;
    width: auto;
    font-size: 1em;
}

    .btn-primary:hover {
        background-color: #fff;
        color: #4E55C7;
        border: 3px solid #4E55C7;
        transition: ease-in-out 0.5s;
    }

.inline-p {
    color: #4E55C7;
    font-weight: 600;
    display: inline;
    margin-left: 6em;
}

html {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

th.col-md-2 {
    color: #4E55C7;
    text-transform: uppercase;
}